<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="container">
    <header>
        <% include ./partials/header %>
    </header>

    <main>

        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui center aligned basic segment">
                    <h1>
                        <span class="fa fa-anchor"></span> Profile Page</h1>
                    <a href="/logout" class="ui basic button">Logout</a>
                </div>

            </div>
            <div class="column centered row">
                <div class="ui stackable two column grid">
                    <div class="row">
                        <div class="column">
                            <!-- LOCAL INFORMATION -->
                            <h3 class="ui top attached block header">
                                <i class="fa fa-user">
                                </i>
                                <div class="content">Local</div>
                            </h3>
                            <div class="ui attached segment">
                                <% if (user.local.email) { %>
                                    <div class="ui form">
                                        <div class="inline field">
                                            <label>id</label>:
                                            <%= user._id %>
                                        </div>
                                        <div class="inline field">
                                            <label>email</label>:
                                            <%= user.local.email %>
                                        </div>
                                        <div class="inline field">
                                            <label>password</label>:
                                            <%= user.local.password %>
                                        </div>
                                    </div>

                                    <a href="/unlink/local" class="ui orange basic button">Unlink</a>
                                    <% } else { %>
                                        <a href="/connect/local" class="ui primary basic button">Connect Local</a>
                                        <% } %>
                            </div>
                        </div>
                        <div class="column">
                            <!-- FACEBOOK INFORMATION -->
                            <h3 class="ui top attached block blue header">
                                <i class="fa fa-facebook">
                                </i>
                                <div class="content">Facebook</div>
                            </h3>
                            <div class="ui attached segment">
                                <!-- check if the user has this token (is the user authenticated with this social account) -->
                                <% if (user.facebook.token) { %>
                                    <p>
                                        <strong>id</strong>:
                                        <%= user.facebook.id %>
                                            <br>
                                            <strong>token</strong>:
                                            <%= user.facebook.token %>
                                                <br>
                                                <strong>email</strong>:
                                                <%= user.facebook.email %>
                                                    <br>
                                                    <strong>name</strong>:
                                                    <%= user.facebook.name %>
                                                        <br>
                                    </p>

                                    <a href="/unlink/facebook" class="ui orange basic button">Unlink</a>
                                    <% } else { %>
                                        <a href="/connect/facebook" class="ui primary basic button">Connect Facebook</a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <!-- TWITTER INFORMATION -->
                            <h3 class="ui top attached block blue header">
                                <i class="fa fa-twitter">
                                </i>
                                <div class="content">Twitter</div>
                            </h3>
                            <div class="ui attached segment">
                                <% if (user.twitter.token) { %>
                                    <p>
                                        <strong>id</strong>:
                                        <%= user.twitter.id %>
                                            <br>
                                            <strong>token</strong>:
                                            <%= user.twitter.token %>
                                                <br>
                                                <strong>display name</strong>:
                                                <%= user.twitter.displayName %>
                                                    <br>
                                                    <strong>username</strong>:
                                                    <%= user.twitter.username %>
                                    </p>

                                    <a href="/unlink/twitter" class="ui orange basic button">Unlink</a>
                                    <% } else { %>
                                        <a href="/connect/twitter" class="ui primary basic button">Connect Twitter</a>
                                        <% } %>

                            </div>
                        </div>
                        <div class="column">
                            <!-- GOOGLE INFORMATION -->
                            <h3 class="ui top attached block red header">
                                <i class="fa fa-google-plus">
                                </i>
                                <div class="content">Google+</div>
                            </h3>
                            <div class="ui attached segment">
                                <% if (user.google.token) { %>
                                    <p>
                                        <strong>id</strong>:
                                        <%= user.google.id %>
                                            <br>
                                            <strong>token</strong>:
                                            <%= user.google.token %>
                                                <br>
                                                <strong>email</strong>:
                                                <%= user.google.email %>
                                                    <br>
                                                    <strong>name</strong>:
                                                    <%= user.google.name %>
                                    </p>

                                    <a href="/unlink/google" class="ui orange basic button">Unlink</a>
                                    <% } else { %>
                                        <a href="/connect/google" class="ui primary basic button">Connect Google</a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <% include ./partials/footer %>
</body>

</html>